.button:not(.simple) {
    color: white;
    padding: 5px;
    border: 1px solid black;
    background: black;
}

.button.big {
    padding: 20px;
}

.button:not(.simple):hover {
    color: red;
    border: 1px solid red;
}
.button:hover {
    cursor: pointer;
}
