.button:not(.simple) {
    color: white;
    padding: 5px;
    border: 1px solid black;
    background: black;
}

.button.big {
    padding: 15px;
}

.button.new {
    background-color: #925718;
    width: 300px;
    border: none;
    border-radius: 40px;
    font-size: 34px;

}

.button:not(.simple):hover {
    color: red;
    border: 1px solid red;
}
.button:hover {
    cursor: pointer;
}

