.App {
  display: flex;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Merriweather', serif;

}
.navbar {
  background: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu .button {
  margin-left: 20px;
  font-size: 18px;
}


.menu-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-lang div {
  margin-right: 20px;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
.App-logo {
  animation: App-logo-spin infinite 10s linear;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}



.Instructions-page {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
}

.keyboard {
  background: black;
  /* margin-bottom: 100px;; */

}

.keyboardClassName {
  margin-bottom: 100px;
}
.keyboard > input, input.mail {
  background: black;
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  border: 1px dotted white;
  width: 100vh;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dynamic {
  flex: 1 1;
}

.dyanmic img {
  height: 480px;
}

.gallery {
  display: felx;
  flex-wrap: wrap;
}

.galleryImage {
  width: 200px;
  padding: 10px;
}

.fullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreen .x {
  position: absolute;
  top: 30px;
  right: 30px;
  border: 1px solid white;
  padding: 5px;
  width: 100px;
  border-radius: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePage {
  background-size: cover;
  filter: grayscale(100%);

}
